TerrMuriel.gmx/Configs/Default/Windows8/Windows8_TemporaryKey.pfx
TerrMuriel.gmx/Configs/Default/Windows8/logos/logo310.png
TerrMuriel.gmx/Configs/Default/Mac/icon512.png
TerrMuriel.gmx/Configs/Default/Windows8/logos/logo30.png
TerrMuriel.gmx/Configs/Default/Mac/splash.png
TerrMuriel.gmx/Configs/Default/Windows8/logos/logo150.png
TerrMuriel.gmx/Configs/Default/Windows8/logos/logo50.png
TerrMuriel.gmx/Configs/Default/Windows8/splashscreen.png
TerrMuriel.gmx/Configs/Default/Windows8/Win8NativeRunner_TemporaryKey.pfx